<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="Author" content="">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <title>Single Page Application</title>
 </head>
 <body data-reference="<%= reference %>">
    <div>
    </div>
	<script data-main="/main" src="/lib/require.js"></script>
 </body>
</html>
